DirectoryIndex index.php
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^data/ - [F,L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "same-origin"
</IfModule>

<FilesMatch "^(\.env|config(\.example)?\.php)$">
  Require all denied
  Deny from all
</FilesMatch>
